 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: #0f172a;
    border-radius: 30px; 
  }
  
  /* Main Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 

  .rightmost {
    float: right;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

/* Colors */
.gradient-bottom-right {
    background: linear-gradient(to bottom right, var(--start-color), var(--middle-color), var(--end-color));
}

.start-indigo {
    --start-color: rgb(99, 49, 134);
}

.middle-purple {
    --middle-color: rgb(144, 38, 99);
}

.end-yellow {
    --end-color: rgb(215, 137, 102);
}

.landingpage-buttom {
    width: 150px;
    height: 40px;
  }
  

  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* Adjust min width as needed */
    column-gap: 200px; /* Adjust gap between items */
  }
  
  /* Media query for screens below 700px */
  @media (max-width: 700px) {
    .grid-item-wrap {
      grid-column: 1 / span 2; /* Spans across two columns on smaller screens */
    }
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  .card {
    flex: 1 0 auto;
    margin: 3%;
  }

